/* HEADER */
.header {
    display: flex;

    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .logo {
    font-weight: 700;
    font-size: 33px;
    letter-spacing: -0.06em;
}


.header a {
    color: #1b1b1b;
    padding: 1rem;
    border-radius: 4px;
    font-size: 32px;
    text-decoration: none;
}

.header a:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #1b1b1b;
}

.header .header-right {
    line-height: 0%;
    display: inherit;
    font-weight: 500;
    background-color: white;
}

/* /HEADER */

/* BANNER */
.banner {
    display: flex;
    background-color: #1b1b1b;
    font-weight: 500;
}

.banner .item-1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 170px;
    line-height: 183px;
    letter-spacing: 0.135em;
    color: #1b1b1b;
    -webkit-text-stroke: 2px white;
}

.banner .item-2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 170px;
    line-height: 183px;
    letter-spacing: 0.135em;
    color: white;
    -webkit-text-stroke: 2px white;

}

/* /BANNER */


/* FORM */
.form {
    padding-bottom: 10rem;
    display: flex;
    background-color: #1b1b1b;
    letter-spacing: 0.135em;
    font-weight: 300;
}

.form form {
    width: 100%;
}


.form .item-1 {
    font-family: 'Kanit', sans-serif;
    line-height: 90px;
    font-size: 28px;
    color: white;
    letter-spacing: 0.12em;

}

.form .item-1 input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 30px;
    color: white;
}

.form .item-1 .comments {
    width: 100%;
}

.form .send-button {
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 130px;
    height: 3rem;
    width: 10rem;
    padding-top: 5px;
}

/* /FORM */

/* FOOTER */
.footer {
    display: flex;
    background-color: white;

}

.footer .text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.015em;
    align-self: flex-end;
}

/* /FOOTER */


/* TABLET */
@media only screen and (max-width: 1024px) and (min-width: 768px) {

    /* HEADER */
    .header .logo {
        font-size: 17px;
    }

    .header a {
        font-size: 15px;
    }

    .header .header-right {
        padding-right: 5rem;
    }

    /* /HEADER */

    /* BANNER */
    .banner {
        padding-top: 1rem;
    }

    .banner .item-1 {
        font-size: 91px;
        line-height: 91px;
    }

    .banner .item-2 {
        font-size: 91px;
        line-height: 91px;
    }

    .banner .image-container img {
        height: 41px;
    }

    /* /BANNER */

    /* FORM */
    .form .item-1 {
        font-size: 16px;

    }

    .form .item-1 input {
        font-size: 16px;
    }

    .form .col_send {
        width: 40.73%;
    }

    .form {
        padding-bottom: 4rem;
    }

    .form .send-button {
        height: 3rem;
        width: 7rem;
    }

    /* /FORM */

    /* FOOTER */
    .footer .text {
        font-size: 10px;
    }

    .footer .image-container {
        display: flex;
        flex-flow: column-reverse;
    }

    .footer .image-container img {
        display: flex;
        flex-flow: column-reverse;
    }

    /* /FOOTER */
}

/* /TABLET */

/* MOBILE */
@media only screen and (max-width: 765px) {

    /* HEADER */

    .header .logo {
        font-size: 9px;
    }

    .header a {
        padding: 0.4rem;
        font-size: 7px;
    }

    .header .header-right {
        padding-right: 2rem;
        padding-top: 7px;
    }

    /* /HEADER */

    /* BANNER */
    .banner {
        padding-top: 1rem;
    }

    .banner .item-1 {
        font-size: 43px;
        line-height: 55px;
        -webkit-text-stroke: 1px white;
    }

    .banner .item-2 {
        font-size: 43px;
        line-height: 55px;
        -webkit-text-stroke: 1px white;
    }

    .banner .image-container img {
        height: 24px;
    }

    /* /BANNER */

    /* FORM */
    .form .item-1 {
        font-size: 7px;
        line-height: 30px;
    }

    .form .item-1 input {
        font-size: 7px;
    }

    .form .col_send {
        padding-top: 1rem;
        width: 40.73%;
    }

    .form {
        padding-top: 1rem;
    }

    .form .send-button-section {
        padding-top: 1rem;
    }

    .form .send-button-section .send-button {
        font-size: 9px;
        padding-top: 4px;
        width: 3rem;
        height: 2rem;
        text-align: center;
    }


    .form {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    /* /FORM */

    /* FOOTER */
    .footer .text {
        font-size: 5px;
    }

    .footer .image-container {
        display: flex;
        flex-flow: column-reverse;
    }

    .footer .image-container img {
        display: flex;
        flex-flow: column-reverse;
    }

    /* /FOOTER */
}