/* HEADER */
.header {
    display: flex;

    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .logo {
    font-weight: 700;
    font-size: 33px;
    letter-spacing: -0.06em;
}


.header a {
    color: #1b1b1b;
    padding: 1rem;
    border-radius: 4px;
    font-size: 32px;
    text-decoration: none;
}

.header a:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #1b1b1b;
}

.header .header-right {
    line-height: 0%;
    display: inherit;
    font-weight: 500;
    background-color: white;
}

/* /HEADER */

/* MERCH1 */
.merch1 {
    display: flex;
    padding-top: 4rem;
}

.merch1 .image-container {
    width: 100%;
    height: auto;
}

.merch1 .image-container img {
    width: 100%;
}

.merch1 .item-1 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.28em;
    text-transform: uppercase;

}

.merch1 .item-2 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.15em;

}

.merch1 .item-3 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.155em;

}

.merch1 .item-4 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.09em;

}

.merch1 .item-5 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.09em;

}

.merch1 .item {
    border: 1px solid black;
    height: 20rem;
}

.merch1 .quantity {
    padding-top: 0.4rem;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 38px;
    letter-spacing: 0.19em;

    color: #1B1B1B;
}

.merch1 .quantity-number {
    border: 1px solid black;
    padding: 10px;
    width: 7px;
}

.merch1 .buy {
    background-color: #1b1b1b;
    border-radius: 50px;
    padding: 0.4rem;
    margin-top: 3.5rem;
}

.merch1 .buy div {
    font-family: Kanit;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

a:-webkit-any-link {
text-decoration: none;
}

/* /MERCH1 */

/* MERCH2 */
.merch2 {
    display: flex;
    padding-top: 4rem;
}

.merch2 .image-container img {
    width: 100%;
}

.merch2 .item-1 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.28em;
    text-transform: uppercase;

}

.merch2 .item-2 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.15em;

}

.merch2 .item-3 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.155em;

}

.merch2 .item-4 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.09em;

}

.merch2 .item-5 {
    font-family: 'Kanit', sans-serif;
    color: #1b1b1b;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.09em;

}


.merch2 .quantity {
    padding-top: 0.4rem;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 38px;
    letter-spacing: 0.19em;

    color: #1B1B1B;
}

.merch2 .quantity-number {
    border: 1px solid black;
    padding: 10px;
    width: 7px;
}

.merch2 .buy {
    background-color: #1b1b1b;
    border-radius: 50px;
    padding: 0.4rem;
    margin-top: 3.5rem;
}

.merch2 .buy div {
    font-family: Kanit;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


/* /MERCH2 */

/* QOT */
.qot {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding-top: 5rem;
}

/* /QOT */
/* FOOTER */
.footer {
    display: flex;
    padding-top: 5rem;
}

.footer .image-container {
    text-align: center;
}

.footer .text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.015em;
    align-self: flex-end;
}

/* /FOOTER */

/* TABLET */
@media only screen and (max-width: 1024px) and (min-width: 768px) {

    /* HEADER */
    .header .logo {
        font-size: 17px;
    }

    .header a {
        font-size: 15px;
    }

    .header {
        padding-right: 20%;
    }

    /* /HEADER */

    /* MERCH1 */

    .merch1 {
        padding-top: 1rem;
    }

    .merch1 .item-3 {
        font-size: 10px;
    }

    .merch1 .item-4 {
        font-size: 14px;
    }

    .merch1 .item-5 {
        font-size: 14px;
    }

    .merch1 .quantity {
        padding-top: 0rem;
        font-size: 11px;
        line-height: 19px;
        letter-spacing: 0.19em;
    }

    .merch1 .quantity-number {
        padding: 7px;
    }

    .merch1 .buy {
        margin-top: 1.5rem;
        width: 4rem;
    }

    /* /MERCH1 */

    /* MERCH2 */

    .merch2 {
        padding-top: 2rem;
    }

    .merch2 .item-3 {
        font-size: 10px;
    }

    .merch2 .item-4 {
        font-size: 14px;
    }

    .merch2 .item-5 {
        font-size: 14px;
    }

    .merch2 .quantity {
        padding-top: 0rem;
        font-size: 11px;
        line-height: 19px;
        letter-spacing: 0.19em;
    }

    .merch2 .quantity-number {
        padding: 7px;

    }

    .merch2 .buy {
        margin-top: 1.5rem;
        width: 4rem;
    }


    /* /MERCH2 */

    /* FOOTER */
    .footer {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .footer .text {
        font-size: 10px;
    }

    .footer .image-container {
        display: flex;
        flex-flow: column-reverse;
    }

    .footer .image-container img {
        display: flex;
        flex-flow: column-reverse;
    }

    /* /FOOTER */
}

/* /TABLET */

/* MOBILE */
@media only screen and (max-width: 765px) {

    /* HEADER */
    .header .logo {
        font-size: 9px;
    }

    .header a {
        padding: 0.4rem;
        font-size: 7px;
    }

    .header .header-right {
        padding-right: 2rem;
        padding-top: 7px;
    }

    /* /HEADER */

    /* MERCH1 */
    .merch1 {
        display: block;
        padding-top: 2rem;
    }

    .merch1 .item-1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 38px;
        letter-spacing: 0.1em;
    }

    .merch1 .item-2 {
        font-weight: 400;
        font-size: 13px;
        line-height: 34px;
        letter-spacing: 0.11em;
    }

    .merch1 .item-3 {
        font-size: 6px;
        line-height: 14px;
    }

    .merch1 .item-4 {
        font-size: 8px;
        line-height: 14px;
    }

    .merch1 .item-5 {
        font-size: 8px;
        line-height: 14px;
    }

    .merch1 .quantity {
        font-size: 8px;
    }

    .merch1 .quantity-number {
        padding: 5px;
        font-size: 9px;
    }

    .merch1 .col_4 {
        width: 83.06%;
    }

    .merch1 .items {
        padding-left: 7%;
    }
    .merch1 .buy {
        margin-top: 3rem;
    }
    .merch1 .buy div {
        font-size: 8px;
    }

    /* /MERCH1 */

    /* MERCH2 */
    .merch2 {
        display: block;

    }

    .merch2 .item-1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 38px;
        letter-spacing: 0.1em;
    }

    .merch2 .item-2 {
        font-weight: 400;
        font-size: 13px;
        line-height: 34px;
        letter-spacing: 0.11em;
    }

    .merch2 .item-3 {
        font-size: 6px;
        line-height: 14px;
    }

    .merch2 .item-4 {
        font-size: 8px;
        line-height: 14px;
    }

    .merch2 .item-5 {
        font-size: 8px;
        line-height: 14px;
    }

    .merch2 .quantity {
        font-size: 8px;
    }

    .merch2 .quantity-number {
        padding: 5px;
        font-size: 9px;
    }

    .merch2 .col_4 {
        width: 83.06%;
    }

    .merch2 .items {
        padding-left: 7%;
    }

    .merch2 .buy {
        margin-top: 3rem;
    }
    .merch2 .buy div {
        font-size: 8px;
    }
    

    /* /MERCH2 */

    /* FOOTER */
    .footer {
        padding-top: 1rem;
    }

    .footer .text {
        font-size: 5px;
    }

    .footer .image-container {
        display: flex;
        flex-flow: column-reverse;
    }

    .footer .image-container img {
        display: flex;
        flex-flow: column-reverse;
    }

    /* /FOOTER */
    /* /MOBILE */
}